body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Verdana;
}
#mount {
  margin-left: 100px;
}
.application-container {
  display: flex;
}
.column.right {
  margin-left: 153px;
}
.sliders {
  display: flex;
  flex-direction: row;
  margin-left: -100px;
}