.button-image {
  height: 40px;
  width: 212px;
  background-image: url("../button-unpushed-long.png");
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 155px;
}

.button-image:not(.disabled) {
  cursor: pointer;
}

.button-image:active:not(.disabled) {
  background-image: url("../button-pushed-long.png");
}

.button-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button-image.start {
  margin-top: 700px;
}

.button-image.new-exp {
  position: absolute;
  margin-top: 727px;
  margin-left: 479px;
}

.button-image.disabled {
  opacity: .5;
  cursor: default;
}