.experiment-container {
  position: absolute;
  margin-top: 150px;
}

.lamp-top {
  height: 544px;
  width: 303px;
  background-image: url("../lamp-top.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 144px;
  margin-top: -147px;
  z-index: 7;
}

.beaker {
  height: 424px;
  width: 354px;
  background-image: url("../beaker.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 6;
}

.bubble-1.pulse {
  height: 151px;
  width: 127px;
  background-image: url("../Elodea-bubbles-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 144px;
  margin-top: 224px;
  z-index: 5;
}

.bubble-2.pulse {
  height: 145px;
  width: 106px;
  background-image: url("../Elodea-bubbles-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 154px;
  margin-top: 223px;
  z-index: 5;
}

.elodea {
  height: 205px;
  width: 147px;
  background-image: url("../Elodea-plant.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 147px;
  margin-top: 206px;
  z-index: 4;
}

.water {
  height: 348px;
  width: 264px;
  background-image: url("../Elodea-water.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 90px;
  margin-top: 84px;
  z-index: 3;
}

.light {
  height: 509px;
  width: 439px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 6px;
  margin-top: -45px;
  z-index: 2;
}

.light.white {
  background-image: url("../Elodea-glow-white.png");
}
.light.blue {
  background-image: url("../Elodea-glow-blue.png");
}
.light.red {
  background-image: url("../Elodea-glow-red.png");
}
.light.green {
  background-image: url("../Elodea-glow-green.png");
}

.lamp-base {
  height: 591px;
  width: 478px;
  background-image: url("../lamp-base.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: -120px;
  z-index: 1;
}
