.radio-group {
  display: flex;
  justify-content: space-between;
}

.radio-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-button {
  height: 20px;
  width: 20px;
  background-image: url("../radio-off.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.radio-button.selected {
  background-image: url("../radio-on.png");
}

.radio-label {
  text-align: center;
}