.labeled-slider {
  height: 600px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.slider-container {
  display: flex;
  flex-direction: row
}
.slider {
  height: 500px;
  width: 33px;
  margin-left: -18px;
  background-image: url("../slider.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.graduated-lines {
  height: 452px;
  width: 44px;
  margin-left: -18px;
  margin-top: 22px;
  background-image: url("../graduated-lines.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.handle {
  font-size: 0.9em;
  text-align: center;
  color: black;
  cursor: pointer;
  background-image: url("../Elodea-slider-button.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 17px;
}
.handle.active {
  background-image: url("../Elodea-slider-button-pushed.png");
}
.bar {
  position: relative;
  background: #ddd;
}
.bar.bar-1 {
  background: #f00;
}
.bar.bar-2 {
  background: #0f0;
}
.slider .handle {
  left: -25px;
  width: 48px;
  height: 48px;
  line-height: 50px;
}
.slider .bar {
  left: 20px;
  width: 10px;
}
.co2-molecule {
  background-image: url("../co2-molecule.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 63px;
  height: 53px;
}
.lux-bulb {
  background-image: url("../slider-bulb.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 53px;
}